<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>

<body>

    <%- include('../partials/header',  {busquedaPrevia: queryString}) %>

    <hr>
    <main>

        <section class="titulo">
            <% if(resultado.length <= 0) { %>
                <h1 style="height: 300px;">Por el momento, no tenemos ese productos en esta categoía.</h1>
            <% } else { %>
                <h1>Este es el resultado de la búsqueda: </h1>
            <% } %>
        </section>
        <section>

            <% for(let i = 0; i < resultado.length ; i++) { %>
                <div class="card estilo-c">
                    <div class="img-container">
                        <img src="/images/products/<%= resultado[i].imagendeesteproducto[0].imagenes %>" alt="">
                    </div>
                    <div class="info-container">
                        <h3><%= resultado[i].nombre %></h2>
                        <strong>AR$ <%= resultado[i].precio %></strong>
                        <% if(resultado[i].rating <= 20) { %>
                            <span class="stock">★☆☆☆☆</span>   
                        <% } else if(resultado[i].rating <= 40) { %>
                            <span class="stock">★★☆☆☆</span> 
                        <% } else if(resultado[i].rating <= 60) { %>
                            <span class="stock">★★★☆☆</span> 
                        <% } else if(resultado[i].rating <= 80) { %>
                            <span class="stock">★★★★☆</span> 
                        <% } else { %>
                            <span class="stock">★★★★★</span> 
                        <% } %>  
                        <% if(typeof hayUnUsuario == "undefined") { %>    
                            <a href="/products/<%= resultado[i].id %>"><button class="add-cart">Más info</button></a>
                        <% } else if (hayUnUsuario.admin == 1){ %>
                            <a href="/admin/products/<%= resultado[i].id %>"><button class="add-cart">Más info</button></a>
                        <% } else { %>
                            <a href="/products/<%= resultado[i].id %>"><button class="add-cart">Más info</button></a>
                        <% } %> 
                    </div>
                </div>
            <% } %>

        </section>

    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>