<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Create"}) %>
    
<body>

    <%- include('../partials/header') %>

    <hr>
    <main>
        <br>
        <section class="hero" style="justify-content: center;">
            <h1>Carga Aquí tus Productos</h1>
        </section> 
        <br>
        <section class="formact">
            <form id="formCreate" action="/admin/products/create" method="POST" enctype="multipart/form-data">  
                <div id="none">
                    <label id="label"><p class="none">Nombre: </p></label>
                    <input id="nombre" name="nombre" type="text" placeholder="Nombre" value="">
                    <small class="small" id="errorNombre">
                        <%= (locals.errors && errors.nombre) ? errors.nombre.msg : "" %> 
                    </small>
                </div>
                <div id="none">
                    <label id="label"><p class="none">Marca: </p></label>
                    <input id="marca" name="marca" type="text" placeholder="Marca" value="">
                    <small class="small" id="errorMarca">
                        <%= (locals.errors && errors.marca) ? errors.marca.msg : "" %> 
                    </small>
                </div>
                <div id="none">
                    <label id="label"><p class="none">Imagen: </p></label>
                    <input id="imagen" name="imagen" type="file" placeholder="Imagen" value="" multiple>
                    <small class="small" id="errorImagen">
                        <%= (locals.errors && errors.imagen) ? errors.imagen.msg : "" %> 
                    </small>
                </div>
                <div id="none">
                    <label id="label"><p class="none">Precio: </p></label>
                    <input id="precio" name="precio" type="number" placeholder="Precio" value="">
                    <small class="small" id="errorPrecio"></small>
                </div> 
                <div id="none">
                    <label id="label"><p class="none">Stock:  </p></label>
                    <input id="stock" name="stock" type="number" placeholder="Stock" value="">
                    <small class="small" id="errorStock"></small>
                </div>
                <!-- <div id="none">
                    <label id="label">Categoría: </label>
                    <input id="id_categoria" name="id_categoria" type="text" placeholder="Categoría" value="">
                    <small class="small" id="errorCategoria"></small>
                </div> -->
                <div id="none">
                    <label id="label"><p class="none">Categoría: </p></label>
                    <select name="categorias" id="categorias">
                        <option id="categoriasOption" style="color: rgb(179, 174, 174)" value="" hidden>Selecciona la categoria...</option>
                        <% for( let i = 0; i < lasCategorias.length; i++ ) { %>
                            <option id="categoriasOption" style="color: rgb(179, 174, 174)" value="<%= lasCategorias[i].id %>"><%= lasCategorias[i].nombre %></option>
                        <% } %>   
                    </select>
                    <small class="small" id="errorCategoria"></small>
                </div>  
                <div id="none">
                    <label id="label"><p class="none">Descripción del Producto: </p></label>
                    <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripción"></textarea>
                    <small class="small" id="errorDescripcion">
                        <%= (locals.errors && errors.descripcion) ? errors.descripcion.msg : "" %> 
                    </small>
                </div>
                <button type="submit">Crear</button>
            </form>
            <br>
        </section>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>
    <script src="/js/productCreateValidation.js"></script>
</body>
</html>

