<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Productos"}) %>

<body>
    
    <%- include('../partials/header') %>

        <main>  
        <section class="edit">
            <section class="name">
                <h1><%= unProducto.nombre %></h1>
            </section>
    
            <section class="detail">
                <div class="imagenesPequenias">
                    <ul class="pequenias">
                        <% for(let i = 0; i < unProducto.imagendeesteproducto.length ; i++) { %>
    
                            <li><a href=""><img src="/images/products/<%= unProducto.imagendeesteproducto[i].imagenes %>" alt=""></a></li>
                        
                        <% } %>
                        </ul>
                    </div>
                    <div class="imagenesGrandes">
                        <ul class="grande">
                            <li><a href=""><img src="/images/products/<%= unProducto.imagendeesteproducto[0].imagenes %>" alt=""></a></li>
                        </ul>
                    </div>
                <div class="priceanddescription">
                    <p class="titledescrpition">Descripción del Producto</p>
                    <p class="data"><%= unProducto.descripcion %></p>
                    <br>
                    <p class="data">Marca: <%= unProducto.marca %></p>
                    <br>
                    <p class="data">Categoría: <%= unProducto.id_categoria %></p>
                    <br>
                    <strong class="price">$ <%= unProducto.precio %></strong>
                    <br>
                    <br>
                    <br>
                    <strong class="stock">Stock: <%= unProducto.stock %> Unidades</strong>
                </div>
            </section>
            <section class="buttons">
                <a class="editar" href="/admin/products/edit/<%= unProducto.id %>">EDITAR</a>
                
                <form class="eliminar1" action="/admin/products/<%= unProducto.id %>?_method=DELETE" method="POST">
                    <input type="hidden" value="<%= unProducto.id %>">
                    <button class="eliminar" type="submit">ELIMINAR</button>
            </section>
        </section>
              
        </main>  

        <div class="idioma">
            <p class="idioma1">Idioma  </p> 
            <select class="idioma2" name="Idioma" id="">
                <option value="value1">Español</option>
                <option value="value1">Ingles</option>
                <option value="value1">Portugues</option>
            </select>
        </div>

        <%- include('../partials/footer') %>

</body>
</html>