<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>
<body>

    <%- include('../partials/header') %>

    <hr>
    <main>
        <br>
        <section class="hero" style="justify-content: center;">
            <h1>Estas Actualizando el producto: <%= elProducto.nombre %></h1>
        </section>
        <br>
        <section class="formact">
            <form id="formCreate" action="" method="post" enctype="multipart/form-data">
                <div id="none">
                    <label id="label">Nombre: </label>
                    <input id="nombre" name="nombre" type="text" placeholder="Nombre" value="<%= elProducto.nombre %>">
                    <small class="small" id="errorNombre">
                        <%= (locals.errors && errors.nombre) ? errors.nombre.msg : "" %> 
                    </small>
                </div>
                <div id="none">
                    <label id="label">Marca: </label>
                    <input id="marca" name="marca" type="text" placeholder="Marca" value="<%= elProducto.marca %>">
                    <small class="small" id="errorMarca">
                        <%= (locals.errors && errors.marca) ? errors.marca.msg : "" %> 
                    </small>
                </div>
                <!-- <div id="none">
                    <label id="label">Imagen: </label>
                    <input id="imagen" name="imagen" type="file" placeholder="Imagen" value="">
                    <small class="small">
                        <%= (locals.errors && errors.imagen) ? errors.imagen.msg : "" %> 
                    </small>
                </div> -->
                <div id="none">
                    <label id="label">Precio: </label>
                    <input id="precio" name="precio" type="number" placeholder="Precio" value="<%= elProducto.precio %>">
                    <small class="small" id="errorPrecio"></small>
                </div>
                <div id="none">
                    <label id="label">Stock: </label>
                    <input id="stock" name="stock" type="number" placeholder="Stock" value="<%= elProducto.stock %>">
                    <small class="small" id="errorStock"></small>
                </div>
                <div id="none">
                    <label id="label"><p class="none">Categoría: </p></label>
                    <select name="categorias" id="categorias">
                        <option id="categoriasOption" style="color: rgb(179, 174, 174)" value="<%= elProducto.categoriaDeEsteProducto.id %> " hidden><%= elProducto.categoriaDeEsteProducto.nombre %></option>
                        <% for( let i = 0; i < lasCategorias.length; i++ ) { %>
                            <option id="categoriasOption" style="color: rgb(179, 174, 174)" value="<%= lasCategorias[i].id %>"><%= lasCategorias[i].nombre %></option>
                        <% } %>   
                    </select>
                    <small class="small" id="errorCategoria"></small>
                </div> 
                <div id="none">
                    <label id="label"><p class="none">Rating:  </p></label>
                    <input id="rating" name="stock" type="number" placeholder="Rating" value="<%= elProducto.rating %>">
                    <small class="small" id="errorRating"></small>
                </div> 
                <div id="none">
                    <label id="label">Descripción del Producto: </label>
                    <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripción"><%= elProducto.descripcion %></textarea>
                    <small class="small" id="errorDescripcion">
                        <%= (locals.errors && errors.descripcion) ? errors.descripcion.msg : "" %> 
                    </small>
                </div>
                <button type="submit">Actualizar</button>
            </form>
            <br>
        </section>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>
    <script src="/js/productEditValidation.js"></script>

</body>
</html>