<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>
<body>

    <%- include('../partials/header') %>

    <hr>
    <main>
        <br>
        <section class="hero" style="justify-content: center;">
            <h1>Estas Actualizando el producto: <% elProducto.nombre %></h1>
        </section>
        <br>
        <section class="formact">
            <form action="" method="post" enctype="multipart/form-data">
                <!-- <input id="code" name="code" type="number" placeholder="Código" value=""> -->
                Nombre: <input id="nombre" name="nombre" type="text" placeholder="Nombre" value="<%= elProducto.nombre %>">
                Marca: <input id="marca" name="marca" type="text" placeholder="Marca" value="<%= elProducto.marca %>">
                <!-- <input id="category" name="category" type="text" placeholder="Categoría" value=""> -->
                Imagen: <input id="imagen" name="imagen" type="file" placeholder="Imagen" value="">
                Precio: <input id="precio" name="precio" type="number" placeholder="Precio" value="<%= elProducto.precio %>">
                Stock: <input id="stock" name="stock" type="number" placeholder="Stock" value="<%= elProducto.stock %>">
                Categoría: <input id="id_categoria" name="id_categoria" type="text" placeholder="Categoría" value="<%= elProducto.categoria %>">
                Descripción del Producto: <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripción"><%= elProducto.descripcion %></textarea>
                <button type="submit">Actualizar</button>
            </form>
            <br>
        </section>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>