<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>

<body>

    <%- include('../partials/header') %>

    <hr>
    <main>

        <section class="titulo">
            <h2>PRODUCTOS</h2>
        </section>
        <section>

            <% for(let i = 0; i < productos.length ; i++) { %>
                <article>
                    <img src="/images/products/<%= productos[i].imagendeesteproducto[0].imagenes %>" alt="">
                    <h2><%= productos[i].nombre %></h2>
                    <p>AR$ <%= productos[i].precio %></p>
                <% if(typeof hayUnUsuario == "undefined") { %>    
                    <a href="/products/<%= productos[i].id %>"><button>M치s info</button></a>
                <% } else if (hayUnUsuario.admin == 1){ %>
                    <a href="/admin/products/<%= productos[i].id %>"><button>M치s info</button></a>
                <% } else { %>
                    <a href="/products/<%= productos[i].id %>"><button>M치s info</button></a>
                <% } %>    
                </article> 
            <% } %>

        </section>

    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Espa침ol</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>