<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>

<body>

    <%- include('../partials/header') %>

    <hr>
    <main>

        <section class="titulo">
            <h2>PRODUCTOS</h2>
        </section>
        <section>

            <% for(let i = 0; i < productos.length ; i++) { %>
            <div class="card estilo-c">
                <div class="img-container">
                    <img src="images/products/<%= productos[i].imagendeesteproducto[0].imagenes %>" alt="">
                    <span class="promo11">15% de descuento</span>
                </div>
                <div class="info-container">
                    <h3><%= productos[i].nombre %></h2>
                    <strong>AR$ <%= productos[i].precio %></strong>
                    <% if(productos[i].rating <= 20) { %>
                        <span class="stock">★☆☆☆☆</span>   
                    <% } else if(productos[i].rating <= 40) { %>
                        <span class="stock">★★☆☆☆</span> 
                    <% } else if(productos[i].rating <= 60) { %>
                        <span class="stock">★★★☆☆</span> 
                    <% } else if(productos[i].rating <= 80) { %>
                        <span class="stock">★★★★☆</span> 
                    <% } else { %>
                        <span class="stock">★★★★★</span> 
                    <% } %>  
                    <% if(typeof hayUnUsuario == "undefined") { %>    
                        <a href="/products/<%= productos[i].id %>"><button class="add-cart">Más info</button></a>
                    <% } else if (hayUnUsuario.admin == 1){ %>
                        <a href="/admin/products/<%= productos[i].id %>"><button class="add-cart">Más info</button></a>
                    <% } else { %>
                        <a href="/products/<%= productos[i].id %>"><button class="add-cart">Más info</button></a>
                    <% } %> 
                </div>
            </div> 
            <% } %>
        </section>

    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>