<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>

<body>

    <%- include('../partials/header',  {busquedaPrevia: queryString}) %>

    <hr>
    <main>

        <section class="titulo">
            <% if(productos.length <= 0) { %>
                <h1>No encontramos pelis para tu búsqueda :(</h1>
            <% } else { %>
                <h1>Este es el resultado de la búsqueda: <%= queryString %></h1>
            <% } %>
        </section>
        <section>

            <% for(let i = 0; i < productos.length ; i++) { %>
                <article>
                    <img src="images/products/<%= productos[i].imagendeesteproducto[0].imagenes %>" alt="">
                    <h2><%= productos[i].nombre %></h2>
                    <p>AR$ <%= productos[i].precio %></p>
                    <a href="/products/<%= productos[i].id %>"><button>Más info</button></a>
                </article> 
            <% } %>

        </section>

    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>