<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head', {title: "Home"}) %>

<body>

    <%- include('../partials/header',  {busquedaPrevia: queryString}) %>

    <hr>
    <main>

        <section class="titulo">
            <% if(resultado.length <= 0) { %>
                <h1 style="height: 300px;">Por el momento, no tenemos ese producto. Prueba refrescarte con otro de nuestros productos.</h1>
            <% } else { %>
                <h1>Este es el resultado de la búsqueda: <%= queryString %></h1>
            <% } %>
        </section>
        <section>

            <% for(let i = 0; i < resultado.length ; i++) { %>
                <article>
                    <img src="/images/products/<%= resultado[i].imagendeesteproducto[0].imagenes %>" alt="">
                    <h2><%= resultado[i].nombre %></h2>
                    <p>AR$ <%= resultado[i].precio %></p>
                    <a href="/products/<%= resultado[i].id %>"><button>Más info</button></a>
                </article> 
            <% } %>

        </section>

    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('../partials/footer') %>

</body>
</html>