<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head', {title: "Home"}) %>

<body>

    <%- include('partials/header') %>

    <hr>
    <main>
        <div class="slider">
            <figure class="slides">
                    <img src="images/slider/carouselImage1.jpg" alt="">

                    <img src="images/slider/carouselImage2.jpg" alt="">

                    <img src="images/slider/carouselImage3.jpg" alt="">
            </figure>
        </div>
    <div class="container">
        <section class="titulo" id="loMasVendido">
            <h2>Lo Más Vendido</h2>
        </section>
        <section>
            <% for(let i = 0; i < productos.length ; i++) { %>
            <article>
                <img src="images/products/heineken1.jpg" alt="">
                <h2><%= productos[i].nombre %></h2>
                <p>AR$ <%= productos[i].precio %></p>
                <a href="/products/<%= productos[i].id %>"><button>Más info</button></a>
            </article> 
            <% } %>
        </section>
   
        <section class="titulo" id="loNuevo">
            <h2>Lo Nuevo</h2>
        </section>
        <section>
            <% for(let i = 0; i < productos.length ; i++) { %>
                <article>
                    <img src="images/products/heineken1.jpg" alt="">
                    <h2><%= productos[i].nombre %></h2>
                    <p>AR$ <%= productos[i].precio %></p>
                    <a href="/products/<%= productos[i].id %>"><button>Más info</button></a>
                </article> 
                <% } %>
        </section>


        <div class="categoria"> 
            <section class="titulo">
                <h2>Categorías</h2>
            </section>
            <nav class="categorias">
                <ul>
                    <li><button class="categorias1">Categoría 1</button></li>
                    <li><button class="categorias1">Categoría 2</button></li>
                    <li><button class="categorias1">Categoría 3</button></li>
                    <li><button class="categorias1">Categoría 4</button></li>
                    <li><button class="categorias1">Categoría 5</button></li>
                    <li><button class="categorias1">Categoría 6</button></li>
                </ul>
            </nav>
        </div>
    </div>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('partials/footer') %>

</body>
</html>