<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head', {title: "Home"}) %>

<body>

    <%- include('partials/header') %>

    <hr>
    <main>
        <div class="slider">
            <figure class="slides">
                    <img src="images/slider/carouselImage1.jpg" alt="">

                    <img src="images/slider/carouselImage2.jpg" alt="">

                    <img src="images/slider/carouselImage3.jpg" alt="">
            </figure>
        </div>
    <div class="container">
        <section class="titulo" id="loMasVendido">
            <h2>Lo Más Vendido</h2>
        </section>
        <section>
            <% for(let i = 0; i < productos.length ; i++) { %>
            <div class="card estilo-c">
                <div class="img-container">
                    <img src="images/products/<%= productos[i].imagendeesteproducto[0].imagenes %>" alt="">
                </div>
                <div class="info-container">
                    <h3><%= productos[i].nombre %></h2>
                    <strong>AR$ <%= productos[i].precio %></strong>
                    <% if(productos[i].rating <= 20) { %>
                        <span class="stock">★☆☆☆☆</span>   
                    <% } else if(productos[i].rating <= 40) { %>
                        <span class="stock">★★☆☆☆</span> 
                    <% } else if(productos[i].rating <= 60) { %>
                        <span class="stock">★★★☆☆</span> 
                    <% } else if(productos[i].rating <= 80) { %>
                        <span class="stock">★★★★☆</span> 
                    <% } else { %>
                        <span class="stock">★★★★★</span> 
                    <% } %>                      
                    <% if(typeof hayUnUsuario == "undefined") { %>    
                        <a href="/products/<%= productos[i].id %>"><button class="add-cart">Más info</button></a>
                    <% } else if (hayUnUsuario.admin == 1){ %>
                        <a href="/admin/products/<%= productos[i].id %>"><button class="add-cart">Más info</button></a>
                    <% } else { %>
                        <a href="/products/<%= productos[i].id %>"><button class="add-cart">Más info</button></a>
                    <% } %> 
                </div>
            </div> 
            <% } %>
        </section>
   
        <section class="titulo" id="loNuevo">
            <h2>Lo Nuevo</h2>
        </section>
        <section>
            <% for(let i = 0; i < productosDos.length ; i++) { %>
                <div class="card estilo-c">
                    <div class="img-container">
                        <img src="images/products/<%= productosDos[i].imagendeesteproducto[0].imagenes %>" alt="">
                    </div>
                    <div class="info-container">
                        <h3><%= productosDos[i].nombre %></h2>
                        <strong>AR$ <%= productosDos[i].precio %></strong>
                        <% if(productosDos[i].rating <= 20) { %>
                            <span class="stock">★☆☆☆☆</span>   
                        <% } else if(productosDos[i].rating <= 40) { %>
                            <span class="stock">★★☆☆☆</span> 
                        <% } else if(productosDos[i].rating <= 60) { %>
                            <span class="stock">★★★☆☆</span> 
                        <% } else if(productosDos[i].rating <= 80) { %>
                            <span class="stock">★★★★☆</span> 
                        <% } else { %>
                            <span class="stock">★★★★★</span> 
                        <% } %>  
                        <% if(typeof hayUnUsuario == "undefined") { %>    
                            <a href="/products/<%= productosDos[i].id %>"><button class="add-cart">Más info</button></a>
                        <% } else if (hayUnUsuario.admin == 1){ %>
                            <a href="/admin/products/<%= productosDos[i].id %>"><button class="add-cart">Más info</button></a>
                        <% } else { %>
                            <a href="/products/<%= productosDos[i].id %>"><button class="add-cart">Más info</button></a>
                        <% } %> 
                    </div>
                </div> 
            <% } %>
        </section>


        <div class="categoria"> 
            <section class="titulo">
                <h2>Categorías</h2>
            </section>
            <nav class="categorias">
                <ul>
                    <% for( let i = 0; i < lasCategorias.length; i++ ) { %>
                        <li><a href="/products/categorias/<%= lasCategorias[i].id %>"><button class="categorias1" style="width: 120px;"> <%= lasCategorias[i].nombre %> </button></a></li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>

    <%- include('partials/footer') %>

</body>
</html>