<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: "Login"}) %>

<body>

    <%- include('../partials/header') %>


    <main class="users">
        <div class="cajass">
            <div class="botonnn">
                <a href="#" class="ingresarrr">Ingresar</a><a href="/users/register" class="crearrr">Crear Cuenta</a>
            </div>
            <div class="redesss">
                <h3>Entrar mediante redes sociales</h3>
                <div class="botones-redesss">
                    <a href="#" class="mailll"><i class="fab fa-google"></i></a>
                    <a href="#" class="facebookkk"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="instagrammm"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="twitterrr"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="formulariooo">
                <h3>Ingresar con tu mail</h3>
                <form action="" method="POST" id="formulariooo">
                    <input type="email" placeholder="Email" name="email" id="email" value="<%= (locals.old && !errors.email) ? old.email :'' %>">
                    <small class="text-danger" id="errorEmail" >
                        <%= (locals.errors&&errors.email) ? errors.email.msg : "" %>
                    </small>

                    <input type="password" placeholder="Contraseña" name="password" id="password" >
                    <small class="text-danger" id="errorPassword">
                        <%= (locals.errors&&errors.password) ? errors.password.msg : "" %>
                        <%= (typeof noCoincidence != 'undefined') ? noCoincidence[0].msg : "" %>
                    </small>

                    <a href="#">Olvidaste tu contraseña?</a>
                    <div>    
                        <input type="checkbox" name="remember">
                        <label for="remember">Desea ser recordado en este dispositivo</label>
                    </div>
                    <button type="submit">Ingresar</button>
                </form>
            </div>
            <p>Todavía no sos cliente? <a href="/users/register">Regístrate acá</a></p>
        </div>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>


    <%- include('../partials/footer') %>


    <script src="/js/loginValidation.js"></script>
</body>
</html>