<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: "Register"}) %>

<body>
    
    <%- include('../partials/header') %>

    <main class="users">
        <div class="cajass">
            <div class="botonnn">
                <a href="/users/login" class="crearrr">Ingresar</a><a href="#" class="ingresarrr">Crear Cuenta</a>
            </div>
            <div class="redesss">
                <h3>Entrar mediante redes sociales</h3>
                <div class="botones-redesss">
                    <a href="#" class="mailll"><i class="fab fa-google"></i></a>
                    <a href="#" class="facebookkk"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="instagrammm"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="twitterrr"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="formulariooo">
                <h3>Registrate con tu mail</h3>
                <form action="" method="POST" enctype="multipart/form-data" id="form-register">
                    <!-- <input type="number" placeholder="Identificador" name="id"> -->
                    <input type="text" placeholder="Nombre" name="firstName" id="firstName" value="<%=(locals.old && (typeof errors == 'undefined')) ? old.firstName : (locals.old && !errors.firstName) ? old.firstName : '' %>">
                    <small class="text-danger" id="small-firstName">
                        <%= (locals.errors && errors.firstName) ? errors.firstName.msg : "" %>
                    </small>
                    
                    <input type="text" placeholder="Apellido" name="lastName" id="lastName" value="<%=(locals.old && (typeof errors == 'undefined')) ? old.lastName :(locals.old && !errors.lastName) ? old.lastName : '' %>">
                    <small class="text-danger" id="small-lastName">
                        <%= (locals.errors && errors.lastName) ? errors.lastName.msg : "" %>
                    </small>

                    <input type="email" placeholder="Email" name="email" id="email" value="<%=(locals.old && (typeof errors == 'undefined')) ? old.email : 
                    (locals.old && !errors.email) ? old.email : '' %>" >
                    <small class="text-danger" id="small-email">
                        <%= (locals.errors && errors.email) ? errors.email.msg : "" %>
                    </small>

                    <input type="password" placeholder="Contraseña" name="password" id="password" value="<%=(locals.old && (typeof errors == 'undefined')) ? old.password : (locals.old && !errors.password) ? old.password : '' %>" >
                    <small class="text-danger" id="small-password">
                        <%= (locals.errors && errors.password) ? errors.password.msg : "" %>
                    </small>

                    <input type="password" placeholder="Confirmar Contraseña" name="repassword" id="repassword">
                    <small class="text-danger" id="small-repassword">
                        <%= (typeof passError != 'undefined') ? passError[0].msg : "" %>
                    </small>

                    <!-- <input type="password" placeholder="Confirmar Contraseña" name="password"> -->
                    <!-- <input type="text" placeholder="Categoría" name="category">
                    <div class="categoria">
                        <p>Elige tu Categoría</p>
                        <Select name="category">
                            <option value="Categoría"></option>
                            <option value="Categoría">Categoría 1</option>
                            <option value="Categoría">Categoría 2</option>
                            <option value="Categoría">Categoría 3</option>
                        </Select>
                    </div> -->
                    <input type="file" name="image">
                    <button type="submit">Registrarse</button>
                </form>
            </div>
            <p>Ya sos cliente? <a href="/users/login">Ingresar</a></p>
        </div>
    </main>
    <div class="idioma">
        <p class="idioma1">Idioma  </p> 
         <select class="idioma2" name="Idioma" id="">
            <option value="value1">Español</option>
            <option value="value1">Ingles</option>
            <option value="value1">Portugues</option>
        </select>
    </div>
    


    <%- include('../partials/footer') %>
    
    <script src="/js/registerValidation.js"></script>

</body>
</html>